click==6.7
dj-database-url==0.4.1
Django==1.9.7
Flask==0.10.1
Flask-Sockets==0.2.1
get==0.0.0
gevent==1.2.1
gevent-websocket==0.10.1
greenlet==0.4.9
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
post==0.0.0
psycopg2==2.6.2
public==0.0.0
query-string==0.0.0
redis==2.10.5
request==0.0.0
requests==2.9.1
setupfiles==0.0.0
unicorn==1.0.0
virtualenv==15.1.0
Werkzeug==0.11.3
whitenoise==2.0.6
